body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.Orange-Color {
    color: orange;
}

section {
    display: flex;
}

.Half {
    width: 50%;
    padding-left: 5%;
}

.Half img {
    width: 100%;

}

.Link1 {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 10px;

}

.topbanner {
    background-image: url(images/7.png);
    background-repeat: no-repeat;
}